<div
  id="edit_league"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="edit_league"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#edit_league_toggle"
  data-kt-drawer-close="#edit_league_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="edit_League_header">
      <h3 class="card-title fw-bolder text-dark">Edit League</h3>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="edit_league_close"
          (click)="closemodal()"

        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="editLeague" (ngSubmit)="onInsert(editLeague.value)">
      <div class="card-body position-relative" id="add_club_body">
        <div
          id="kt_activities_scroll"
          class="position-relative scroll-y me-n5 pe-5"
          data-kt-scroll="true"
          data-kt-scroll-height="auto"
          data-kt-scroll-wrappers="#add_club_body"
          data-kt-scroll-dependencies="#add_club_header, #add_club_footer"
          data-kt-scroll-offset="5px"
        >

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Name</label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  "
                placeholder="Club name"
                name="name"
                formControlName="name"
              />
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('name')?.touched && editLeague.get('name')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6" *ngIf="formData?.image">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded Image</label>
            <div class="col-lg-8 fv-row">
              <div class="mb-3">
                <img 
                  [src]="formData.image" 
                  alt="League Logo" 
                  class="img-thumbnail" 
                  style="max-width: 200px; max-height: 200px;" 
                  *ngIf="formData.image" 
                />
              </div>              
            </div>
          </div>
          
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Update Image</label>
            <div class="col-lg-8 fv-row">
              
              <ngx-dropzone (change)="onSelectSquare($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
                <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile)" [file]="squareFile">
                  <ngx-dropzone-label>{{ squareFile.name }} ({{ squareFile.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-2 col-form-label"
            ></label
            >
            <div class="col-lg-10 fv-row">
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Detail</label>
            <div class="col-lg-8 fv-row">
                    <textarea
                      class="form-control form-control-lg form-control-solid"
                      formControlName="detail"
                      placeholder="Type a short description of the club"
                      name="detail"
                      required
                      rows="3"
                    ></textarea>
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('detail')?.touched && editLeague.get('detail')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Summary</label>
            <div class="col-lg-8 fv-row">
                <textarea
                  class="form-control form-control-lg form-control-solid"
                  formControlName="summary"
                  placeholder="Type a short summary of the club"
                  name="summary"
                  required
                  rows="3"
                ></textarea>
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('summary')?.touched && editLeague.get('summary')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Year</label>
            <div class="col-lg-8 fv-row">
              <input
                type="number"
                class="form-control form-control-lg form-control-solid"
                placeholder="Year"
                name="year"
                formControlName="year"
                required
              />
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('year')?.touched && editLeague.get('year')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Is Popular</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="is_popular"
                formControlName="is_popular"
              
              >
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
             
            </div>
          </div>
         
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Is Finished</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="is_finished"
                formControlName="is_finished"
              required
              >
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('is_finished')?.touched && editLeague.get('is_finished')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Sports</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="sports"
                formControlName="sports_type"
              >
              <option value="">Select Type</option>

                <option value="0">Football</option>
                <option value="1">Non Football</option>
              </select>
              
              <div class="fv-plugins-message-container" *ngIf="editLeague.get('sports_type')?.touched && editLeague.get('sports_type')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Win points</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                placeholder="win points"
                name="win_points"
                formControlName="win_points"
              />
              <!-- <div class="fv-plugins-message-container" *ngIf="leagueForm.get('name')?.touched && leagueForm.get('name')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div> -->
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Draw points</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                placeholder="draw points"
                name="draw_points"
                formControlName="draw_points"
              />
              <!-- <div class="fv-plugins-message-container" *ngIf="leagueForm.get('name')?.touched && leagueForm.get('name')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div> -->
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            ></label
            >
            <div class="col-lg-8 fv-row">
              <button
                [disabled]="!editLeague.valid"
                class="btn btn-primary"
                type="submit"
              >
                <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                <ng-container *ngIf="isLoading">
              <span [style.display]="'block'" clas="indicator-progress">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
                </ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="add_club_footer" class="card-footer d-flex justify-content-end py-5 px-9">

      </div>
    </form>
  </div>
</div>
