<app-add-item (OnAddForm)="refreshGrid()"></app-add-item>
<!-- <app-edit-club
  [clubId]="selectedClubId"
  (OnEditForm)="onEditFormClose()">
</app-edit-club> -->

<div class="card mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Home</span>
      <!-- <span class="text-muted mt-1 fw-bold fs-7">Upcoming, live and completed matches</span> -->
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Click to add a subscription plan"
    >
      <button id="add_item_toggle" class="btn btn-sm btn-light-primary">
<span
  [inlineSVG]="'./assets/media/icons/tutopia/create_course.svg'"
  class="svg-icon svg-icon-3"
></span>
        Add Item
      </button>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table id="plans_table" datatable [dtOptions]="dtOptions" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"></table>
      <!-- end::Table -->
    </div>

  </div>
  <tutopia-app-modal #modal_window [modalConfig]="modalConfig">

  </tutopia-app-modal>
</div>
