<app-edit-page (OnEditForm)="refreshGrid()" [id]="selectedPage"></app-edit-page>
<div class="card mb-5 mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Content Pages</span>
      <span class="text-muted mt-1 fw-bold fs-7">Manage common content pages</span>
    </h3>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table id="pages_table" datatable [dtOptions]="dtOptions" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"></table>
      <!-- end::Table -->
    </div>

  </div>
  <tutopia-app-modal #modal_window [modalConfig]="modalConfig">
    {{modalBody}}
  </tutopia-app-modal>
</div>
