<div
  id="edit_home_item"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="edit_home_item_drawer"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#edit_home_item_toggle"
  data-kt-drawer-close="#edit_home_item_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="edit_home_item_header">
      <h3 class="card-title fw-bolder text-dark">Edit Home Item</h3>

      <div class="card-toolbar">
        
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="edit_home_item_close"
          (click)="closemodal()"

        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="editItem" (ngSubmit)="onInsert(editItem.value)">
      <div class="card-body position-relative" id="add_match_video_body">
        <div
          id="kt_activities_scroll"
          class="position-relative scroll-y me-n5 pe-5"
          data-kt-scroll="true"
          data-kt-scroll-height="auto"
          data-kt-scroll-wrappers="#add_match_video_body"
          data-kt-scroll-dependencies="#add_match_video_header, #add_match_video_footer"
          data-kt-scroll-offset="5px"
        >
        <div class="row mb-6 align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Match</label>
          <div class="col-lg-5 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              formControlName="match_id"
              (change)="onMatchSelect($event)"
            >
              <option value="">Select Match</option>
              <option *ngFor="let match of matchList" [value]="match.id">
                {{ match.clubA }} vs {{ match.clubB }}
              </option>
            </select>
          </div>
          <div class="col-lg-3">
            <button
              type="button"
              class="btn btn-light-primary btn-sm w-100"
              [disabled]="!selectedMatchId"
              (click)="fetchMatchDetails()"
            >
              <span class="svg-icon svg-icon-3 me-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="#000"
                    d="M11 7a1 1 0 1 1 2 0v7a1 1 0 1 1-2 0V7Z"
                  />
                  <path
                    fill="#000"
                    d="M12 18.75a1.75 1.75 0 1 0 0-3.5 1.75 1.75 0 0 0 0 3.5Z"
                  />
                </svg>
              </span>
              Fetch Match Details
            </button>
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Title</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="title"
              placeholder="Title"
              
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Sub Title</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="sub_title"
              placeholder="Sub Title"
              
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team A Name</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="team_a_name"
              placeholder="Team A Name"
              
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team A Score</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="team_a_score"
              placeholder="Team A Score"
              
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Uploaded TeamA Logo</label>
          <div class="col-lg-8 fv-row">
            <img
              [src]="dataList?.team_a_logo"
              alt="League Logo"
              class="img-thumbnail"
              style="max-width: 200px; max-height: 200px;"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">TeamA Logo</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 1)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile, 1)" [file]="squareFile">
                <ngx-dropzone-label>{{ squareFile.name }} ({{ squareFile.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress1>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress1}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress1>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress1"></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team B Name</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="team_b_name"
              placeholder="Team B Name"
              
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team B Score</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="team_b_score"
              placeholder="Team B Score"
              
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Uploaded TeamB Logo</label>
          <div class="col-lg-8 fv-row">
            <img
              [src]="dataList?.team_b_logo"
              alt="League Logo"
              class="img-thumbnail"
              style="max-width: 200px; max-height: 200px;"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">TeamB Logo</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 2)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile2" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile2, 2)" [file]="squareFile2">
                <ngx-dropzone-label>{{ squareFile2.name }} ({{ squareFile2.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress2>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress2}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress2>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress2"></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">League Name</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="league_name"
              placeholder="League Name"
              
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Uploaded League Logo</label>
          <div class="col-lg-8 fv-row">
            <img
              [src]="dataList?.league_logo"
              alt="League Logo"
              class="img-thumbnail"
              style="max-width: 200px; max-height: 200px;"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">League Logo</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 3)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile3" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile3, 3)" [file]="squareFile3">
                <ngx-dropzone-label>{{ squareFile3.name }} ({{ squareFile3.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress3>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress3}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress3>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress3"></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Duration</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="duration"
              
            />
          </div>
        </div>
       
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Match Start Time</label>
          <div class="col-lg-8 fv-row">
            <input
              type="datetime-local"
              class="form-control form-control-lg form-control-solid"
              placeholder="Select date and time"
              name="match_time_start"
              formControlName="match_time_start"
              required
            />
            <div class="fv-plugins-message-container" *ngIf="editItem.get('match_time_start')?.touched && editItem.get('match_time_start')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Sports Type</label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="sports"
              formControlName="sports_type"
            >
            <option value="">Select Type</option>

              <option value="0">Football</option>
              <option value="1">Non Football</option>
            </select>
            
            <div class="fv-plugins-message-container" *ngIf="editItem.get('sports_type')?.touched && editItem.get('sports_type')?.hasError('required')">
              <div class="fv-help-block">This is a required field</div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">Match Status</label>
          <div class="col-lg-8 fv-row">

          <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="match_status"
                formControlName="match_status"
              >
              <option value="">Select Match Status</option>
                      <option value="0">Upcoming</option>
                      <option value="1">Live</option>
                      <option value="2">Completed</option>
              </select>
              </div>
        </div>
        <div class="row mb-6" >
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded horizontal banner</label>
          <div class="col-lg-8 fv-row">
            <div class="mb-3">
              <img 
                [src]="dataList?.match_poster_horizontal" 
                alt="Logo" 
                class="img-thumbnail" 
                style="max-width: 200px; max-height: 200px;" 
                *ngIf="dataList?.match_poster_horizontal" 
              />
            </div>              
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Horizontal banner</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 4)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile4" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile4, 4)" [file]="squareFile4">
                <ngx-dropzone-label>{{ squareFile4.name }} ({{ squareFile4.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress4>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress4}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress4>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress4"></div>
            </div>
          </div>
        </div>
        <div class="row mb-6" *ngIf="dataList?.match_poster_vertical">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded vertical banner</label>
          <div class="col-lg-8 fv-row">
            <div class="mb-3">
              <img 
                [src]="dataList.match_poster_vertical" 
                alt="Logo" 
                class="img-thumbnail" 
                style="max-width: 200px; max-height: 200px;" 
                *ngIf="dataList.match_poster_vertical" 
              />
            </div>              
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Vertical banner</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 5)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile5" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile5, 5)" [file]="squareFile5">
                <ngx-dropzone-label>{{ squareFile5.name }} ({{ squareFile5.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress5>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress5}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress5>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress5"></div>
            </div>
          </div>
        </div>
        <div class="row mb-6" *ngIf="dataList?.tv_banner">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded TV Banner</label>
          <div class="col-lg-8 fv-row">
            <div class="mb-3">
              <img 
                [src]="dataList.tv_banner" 
                alt="Logo" 
                class="img-thumbnail" 
                style="max-width: 200px; max-height: 200px;" 
                *ngIf="dataList.tv_banner" 
              />
            </div>              
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">TV Banner</label>
          <div class="col-lg-8 fv-row">
            
            <ngx-dropzone (change)="onSelectSquare($event, 6)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                          class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
              <ngx-dropzone-label>Ratio (1:1), Min. 500x500</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngIf="squareFile6" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                          (removed)="onRemoveSquare(squareFile6, 6)" [file]="squareFile6">
                <ngx-dropzone-label>{{ squareFile6.name }} ({{ squareFile6.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="d-flex flex-column w-100 me-2">
            <div class="d-flex flex-stack mb-2" *ngIf="squareProgress6>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress6}}%</span></div>
            <div class="progress h-6px w-100" *ngIf="squareProgress6>0">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress6"></div>
            </div>
          </div>
        </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            ></label
            >
            <div class="col-lg-8 fv-row">
              <button
                [disabled]="!editItem.valid"
                class="btn btn-primary"
                type="submit"
              >
                <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                <ng-container *ngIf="isLoading">
              <span [style.display]="'block'" clas="indicator-progress">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
                </ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="add_match_video_footer" class="card-footer d-flex justify-content-end py-5 px-9">

      </div>
    </form>
  </div>
</div>
