<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10 d-flex align-items-stretch" *ngIf="dashboardData">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-stat-card color="rgb(114 58 234)" cssClass="h-100" description="Total Users"  [total]="dashboardData?.totalUsers" [registered]="dashboardData?.usersRegisteredToday" [logged_in]="dashboardData?.usersLoggedInToday" ></app-stat-card>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      <app-sub-card color="#00682a" cssClass="h-100" description="Total Subscribers"  [total]="dashboardData?.total_subscribed_users"  [paid_admin]="dashboardData.total_paid_admin" [paid_razor]="dashboardData.total_paid_razorpay" [paid_apple]="dashboardData?.total_paid_apple"></app-sub-card>
  </div>
  <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <app-match-card color="rgb(242 65 108)" cssClass="h-100" description="Total Matches"  [total]="dashboardData?.total_match" [today]="dashboardData?.live" [upcoming]="dashboardData?.upcoming_match" [completed]="dashboardData?.completed_match" ></app-match-card>
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <app-video-card color="rgb(7 121 127)" cssClass="h-100" description="Total Videos"  [total]="dashboardData?.total_video" [total_views]="dashboardData?.countedViews" [unique_views]="dashboardData?.summedUniqueViews" ></app-video-card>
    </div>
    <!--end::Col-->

</div>
<!--end::Row-->



<!-- begin::Row -->
<div class="row gy-5 gx-xl-8" *ngIf="dashboardData">
  <div class="col-xl-12">
    <app-subscription-table [total_paid]="dashboardData?.paid" [total_unpaid]="dashboardData?.unpaid"
                            [tournament_paid]="dashboardData?.tournament_paid"
                            [paid_razorpay]="dashboardData?.paid_razorpay" [all_content_paid]="dashboardData?.all_content_paid"
                            [match_paid]="dashboardData?.match_paid"
                            [paid_apple]="dashboardData?.paid_apple" class="card card-xxl-stretch mb-5 mb-xl-8"></app-subscription-table>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
    <div class="col-xl-12">
        <top-matches-table [data]="topMatches"  class="card card-xxl-stretch mb-5 mb-xl-8"></top-matches-table>
    </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
    <div class="col-xl-12">
        <top-videos-table [data]="topVideos" class="card card-xxl-stretch mb-5 mb-xl-8"></top-videos-table>
    </div>
</div>
<!-- end::Row -->
