<div
  id="standing_toggle"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="standing"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#standing_toggle"
  data-kt-drawer-close="#standing_toggle_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="standing_header">
      <h3 class="card-title fw-bolder text-dark align-items-start flex-column">Standings
        <span class="text-muted mt-1 fw-bold fs-4 d-block">League: {{previousRequests[0]?.League.name}}</span>
      </h3>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="standing_toggle_close"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
  <!-- Standings Table -->
  <form novalidate class="form">
    <div class="card-body position-relative" id="standing_body">
        <div class="table-responsive" style="width: 100%; overflow-x: auto;">
            <table class="table table-striped table-bordered text-center" style="width: 100%; min-width: 1000px;">
                <thead>
                    <tr class="fw-bolder text-muted">
                        <th>Team</th>
                        <th>Played</th>
                        <th width="75px">Won</th>
                        <th width="75px">Lost</th>
                        <th width="75px">Draw</th>
                        <th>Goals Performed</th>
                        <th>Goals Conceived</th>
                        <th>Goals Difference</th>
                        <th>Points</th>
                        <th>Position</th>
                        <th width="140px">Actions</th>
                    </tr>
                </thead>
                <tbody id="standingsTableBody" *ngFor="let item of previousRequests">
                  <tr>
                      <td>{{item.Club.name}}</td>
                      <td><input type="number" class="form-control" value={{item.match_played}}></td>
                      <td>
                        <input type="number" class="form-control" value={{item.won_match}}>
                      </td>
                      <td>
                        <input type="number" class="form-control" value={{item.lost_match}}>
                      </td>
                      <td>
                        <input type="number" class="form-control" value={{item.draw_match}}>
                      </td>
                      <td><input type="number" class="form-control text-center goal_performed" value={{item.goal_performed}}></td>
                      <td><input type="number" class="form-control text-center goal_conceived" value={{item.goal_conceived}}></td>
                      <td><input type="number" class="form-control text-center goal_difference" value={{item.goal_difference}}></td>

                      <td><input type="number" class="form-control" value={{item.points}}></td>
                      <td><input type="number" class="form-control" value={{item.position}}></td>
                      <td>
                        <button 
                            class="btn btn-success btn-sm rounded shadow-sm px-4 py-2 fw-bold d-flex align-items-center gap-2" 
                        >
                            <i class="bi bi-arrow-repeat"></i> Sync From API
                        </button>
                    </td>
                  </tr>
                  <!-- More rows can be added dynamically -->
              </tbody>
            </table>
        </div>
   
    </div>
    <div id="standing_footer" class="card-footer d-flex justify-content-end py-5 px-9">
        <button type="submit" class="btn btn-success">Save Changes</button>
    </div>
</form>
  </div>
</div>
