<!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Today's Subscription Statistics</span>
    <span class="text-muted mt-1 fw-bold fs-7">Total & Breakup of Subscriptions</span>
  </h3>
    <div
            class="card-toolbar"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-trigger="hover"
            title="Click to download subscription stats"
    >
    <a href="https://api.ssen.co/v1/subscription-stats-download" target="_blank" class="btn btn-sm btn-light-primary me-5">
      <span
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
              class="svg-icon svg-icon-3"
      ></span>
         Subscription Stats
    </a>
        <a href="https://api.ssen.co/v1/registration-stats-download" target="_blank" class="btn btn-sm btn-light-primary">
      <span
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
              class="svg-icon svg-icon-3"
      ></span>
             User Registration Stats
        </a>
        <a href="https://api.ssen.co/v1/all-paid-user" target="_blank" class="btn btn-sm btn-light-primary me-5">
          <span
                  [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
                  class="svg-icon svg-icon-3"
          ></span>
             Paid Orders
        </a>
        <a href="https://api.ssen.co/v1/all-unpaid-user" target="_blank" class="btn btn-sm btn-light-primary me-5">
          <span
                  [inlineSVG]="'./assets/media/icons/duotune/arrows/arr065.svg'"
                  class="svg-icon svg-icon-3"
          ></span>
             Unpaid & Non-Purchasing Users
        </a>

    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">

          <th class="min-w-100px">Total Paid</th>
          <th class="min-w-100px">Total Unpaid</th>
          <th class="min-w-100px">Paid - RazorPay</th>
          <th class="min-w-100px">Paid - Apple</th>
          <th class="min-w-100px">All Content</th>
          <th class="min-w-100px">Tournament Pass</th>
            <th class="min-w-100px">Match Pass</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{total_paid}}
                </span>
              </div>
            </div>
          </td>
            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{total_unpaid}}
                </span>

                    </div>
                </div>
            </td>

            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{paid_razorpay}}
                </span>

                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{paid_apple}}
                </span>

                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{all_content_paid}}
                </span>

                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{tournament_paid}}
                </span>

                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">

                    <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                 {{match_paid}}
                </span>

                    </div>
                </div>
            </td>

        </tr>

      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
