<div
  id="edit_page_drawer"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="edit_page"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#edit_page_toggle"
  data-kt-drawer-close="#edit_page_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="edit_page_header">
      <h3 class="card-title fw-bolder text-dark">Edit Page</h3>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="edit_page_close"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="addForm" (ngSubmit)="onInsert(addForm.value)">
      <div class="card-body position-relative" id="edit_page_body">
        <div
          id="kt_activities_scroll"
          class="position-relative scroll-y me-n5 pe-5"
          data-kt-scroll="true"
          data-kt-scroll-height="auto"
          data-kt-scroll-wrappers="#edit_page_body"
          data-kt-scroll-dependencies="#edit_page_header, #edit_page_footer"
          data-kt-scroll-offset="5px"
        >

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
          >Page Title</label
          >
          <div class="col-lg-8 fv-row">
            <input
              class="form-control form-control-lg form-control-solid"
              name="title"
              formControlName="title"
              placeholder="Title"
              required
              type="text"

            />
            <span *ngIf="addForm.get('title')?.hasError('required')">
              This is a required field
            </span>
          </div>
        </div>
        <div class="row mb-6">


            <label class="col-lg-4 col-form-label required fw-bold fs-6">Page Body</label>
          <div class="col-lg-8 fv-row">
            <editor
              required
              apiKey="l3pihjo8g5rvb49qutzx53g6cs9pvni3eyirk1k132ct60lw"
              formControlName="body"
              [init]="{ plugins: 'lists link image table code help wordcount', menubar:'edit view insert format tools' }"
            ></editor>


          <span *ngIf="addForm.get('body')?.hasError('required')">
            This is a required field
          </span>
          </div>
        </div>

        <div class="row mb-6">
          <h3 class="card-title fw-bolder text-dark text-muted">SEO Fields</h3>
          <div class="separator"></div>
        </div>


        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Meta Description</label>
          <div class="col-lg-8 fv-row">
            <textarea
              class="form-control form-control-lg form-control-solid"
              formControlName="meta_description"
              placeholder="Type a short description of the course"
              name="meta_description"
              rows="3"
            ></textarea>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Current OG Image</label>

          <div class="col-lg-8" *ngIf="og_image_path!=''">
            <div  class="symbol symbol-150px py-5 me-5">
                <span class="symbol-label">
              <img [src]="og_image_path" class="h-100 align-self-center">
                </span>

            </div>
          </div>

        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">OG Image</label>
          <ngx-dropzone (change)="onSelectOg($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                        class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 horizontal-box">
            <ngx-dropzone-label>Ratio (16:9), Min. 1600x900</ngx-dropzone-label>
            <ngx-dropzone-image-preview *ngIf="ogFile"  ngProjectAs="ngx-dropzone-preview"  [removable]="true" (removed)="onRemoveOg(ogFile)" [file]="ogFile">
              <ngx-dropzone-label>{{ ogFile.name }} ({{ ogFile.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label"
          ></label
          >
          <div class="col-lg-10 fv-row">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2" *ngIf="ogProgress>0"><span class="text-muted me-2 fs-7 fw-bold">{{ogProgress}}%</span></div>
              <div class="progress h-6px w-100" *ngIf="ogProgress>0">
                <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="ogProgress"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
          ></label
          >
          <div class="col-lg-8 fv-row">
            <button
              [disabled]="!addForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              <ng-container *ngIf="!isLoading">Save Changes</ng-container>
              <ng-container *ngIf="isLoading">
          <span [style.display]="'block'" clas="indicator-progress">
            Please wait...{{ " " }}
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
              </ng-container>
            </button>
          </div>
        </div>
        </div>
      </div>
  </form>
      <div id="edit_page_footer" class="card-footer d-flex justify-content-end py-5 px-9">

      </div>

  </div>
</div>
