<div
  id="add_match_item"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="add_match_item"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#add_match_item_toggle"
  data-kt-drawer-close="#add_match_item_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="add_match_item_header">
      <h3 class="card-title fw-bolder text-dark">Add Home Item</h3>
      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="add_match_item_close"
          (click)="closemodal()"

        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="addItem" (ngSubmit)="onInsert(addItem.value)">
      <div class="card-body position-relative" id="add_match_item_body">
        <div
          id="kt_activities_scroll"
          class="position-relative scroll-y me-n5 pe-5"
          data-kt-scroll="true"
          data-kt-scroll-height="auto"
          data-kt-scroll-wrappers="#add_match_item_body"
          data-kt-scroll-dependencies="#add_item_header, #add_item_footer"
          data-kt-scroll-offset="5px"
        >
          <!-- Title -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Match</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                formControlName="match_id"
                (change)="onMatchSelect($event)"
              >
                <option value="">Select Match</option>
                <option *ngFor="let match of matchList" [value]="match.id">
                  {{ match.clubA }} vs {{ match.clubB }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Title</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="title"
                placeholder="Title"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Sub Title</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="sub_title"
                placeholder="Sub Title"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team A Name</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="team_a_name"
                placeholder="Team A Name"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team A Score</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="team_a_score"
                placeholder="Team A Score"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">TeamA Logo</label>
            <div class="col-lg-8 fv-row">
              <img
                [src]="team_a_logo"
                alt="League Logo"
                class="img-thumbnail"
                style="max-width: 200px; max-height: 200px;"
              />
            </div>
          </div>
        
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team B Name</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="team_b_name"
                placeholder="Team B Name"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Team B Score</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="team_b_score"
                placeholder="Team B Score"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">TeamB Logo</label>
            <div class="col-lg-8 fv-row">
              <img
                [src]="team_b_logo"
                alt="League Logo"
                class="img-thumbnail"
                style="max-width: 200px; max-height: 200px;"
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">League Name</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="league_name"
                placeholder="League Name"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">League Logo</label>
            <div class="col-lg-8 fv-row">
              <img
                [src]="league_logo"
                alt="League Logo"
                class="img-thumbnail"
                style="max-width: 200px; max-height: 200px;"
              />
            </div>
          </div>
          
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Duration</label>
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                formControlName="duration"
                
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Match Start Time</label>
            <div class="col-lg-8 fv-row">
              <input
                type="datetime-local"
                class="form-control form-control-lg form-control-solid"
                placeholder="Select date and time"
                name="match_time_start"
                formControlName="match_time_start"
                required
              />
              <div class="fv-plugins-message-container" *ngIf="addItem.get('match_time_start')?.touched && addItem.get('match_time_start')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Sports Type</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="sports"
                formControlName="sports_type"
              >
              <option value="">Select Type</option>
  
                <option value="0">Football</option>
                <option value="1">Non Football</option>
              </select>
              
              <div class="fv-plugins-message-container" *ngIf="addItem.get('sports_type')?.touched && addItem.get('sports_type')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required">Match Status</label>
            <div class="col-lg-8 fv-row">
  
            <select
                  class="form-select form-select-solid form-select-lg fw-bold"
                  name="match_status"
                  formControlName="match_status"
                >
                <option value="">Select Match Status</option>
                        <option value="0">Upcoming</option>
                        <option value="1">Live</option>
                        <option value="2">Completed</option>
                </select>
                </div>
          </div>
          <div class="row mb-6" >
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded horizontal banner</label>
            <div class="col-lg-8 fv-row">
              <div class="mb-3">
                <img 
                  [src]="horizontal_banner" 
                  alt="Logo" 
                  class="img-thumbnail" 
                  style="max-width: 200px; max-height: 200px;" 
                  *ngIf="horizontal_banner" 
                />
              </div>              
            </div>
          </div>
          <div class="row mb-6" *ngIf="vertical_banner">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded vertical banner</label>
            <div class="col-lg-8 fv-row">
              <div class="mb-3">
                <img 
                  [src]="vertical_banner" 
                  alt="Logo" 
                  class="img-thumbnail" 
                  style="max-width: 200px; max-height: 200px;" 
                  *ngIf="vertical_banner" 
                />
              </div>              
            </div>
          </div>
          
          <div class="row mb-6" *ngIf="tv_banner">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Uploaded TV Banner</label>
            <div class="col-lg-8 fv-row">
              <div class="mb-3">
                <img 
                  [src]="tv_banner" 
                  alt="Logo" 
                  class="img-thumbnail" 
                  style="max-width: 200px; max-height: 200px;" 
                  *ngIf="tv_banner" 
                />
              </div>              
            </div>
          </div>
          <button
            [disabled]="!addItem.valid"
            class="btn btn-primary"
            type="submit"
          >
            Save Changes
          </button>
        </div>
      </div>
      <div id="add_item_footer" class="card-footer d-flex justify-content-end py-5 px-9">
      </div>
    </form>
  </div>
</div>
