<div
  id="add_match_drawer"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="add_match"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#add_match_toggle"
  data-kt-drawer-close="#add_match_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="add_match_header">
      <h3 class="card-title fw-bolder text-dark">Add Match</h3>
      <div class="card-toolbar">
        <button type="button" (click)="closemodal()" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="add_match_close">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'" class="svg-icon svg-icon-1"></span>
        </button>
      </div>
    </div>
    
    <form [formGroup]="matchForm" (ngSubmit)="onInsert(matchForm.value)">
      <div class="card-body position-relative" id="add_group_body">
        <div id="kt_activities_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" 
             data-kt-scroll-height="auto" data-kt-scroll-wrappers="#add_group_body" 
             data-kt-scroll-dependencies="#add_group_header, #add_group_footer" data-kt-scroll-offset="5px">

          <!-- League Dropdown -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">League</label>
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="league_id" (change)="onLeagueSelect($event)" required>
                <option value="">Select a League...</option>
                <option *ngFor="let league of leagues" [value]="league.id">{{ league.name }}</option>
              </select>
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('league_id')?.hasError('required')">
                <div class="fv-help-block"> League is required</div>
              </div>
            </div>
          </div>

          <!-- Group Dropdown -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Group</label>
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="group_id" required>
                <option value="">Select a Group...</option>
                <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
              </select>
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('group_id')?.hasError('required')">
                <div class="fv-help-block"> Group is required</div>
              </div>
            </div>
          </div>

          <!-- Team A Dropdown -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Team A</label>
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="teamA_id" required>
                <option value="">Select Team A...</option>
                <option *ngFor="let team of teams" [value]="team.Club.id">{{ team.Club.name }}</option>
              </select>
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('teamA_id')?.hasError('required')">
                <div class="fv-help-block"> Team A is required</div>
              </div>
            </div>
          </div>

          <!-- Team B Dropdown -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Team B</label>
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="teamB_id" required>
                <option value="">Select Team B...</option>
                <option *ngFor="let team of teams" [value]="team.Club.id">{{ team.Club.name }}</option>
              </select>
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('teamB_id')?.hasError('required')">
                <div class="fv-help-block"> Team B is required</div>
              </div>
            </div>
          </div>

          <!-- Date Field -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Date & Time</label>
            <div class="col-lg-8 fv-row">
              <input
                type="datetime-local"
                class="form-control form-control-lg form-control-solid"
                placeholder="Select date and time"
                name="date"
                formControlName="date"
                required
              />
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('date')?.touched && matchForm.get('date')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>

          <!-- Horizontal Banner Dropzone -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Horizontal Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 1)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                <ngx-dropzone-label>Recommended dimensions (292 : 165)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile1" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile1, 1)" [file]="squareFile1">
                  <ngx-dropzone-label>{{ squareFile1.name }} ({{ squareFile1.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress1>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress1}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress1>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress1"></div>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <!-- Vertical Banner Dropzone -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Vertical Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event,2)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 square-box">
                <ngx-dropzone-label>Recommended dimensions (230 : 308)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile2" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile2, 2)" [file]="squareFile2">
                  <ngx-dropzone-label>{{ squareFile2.name }} ({{ squareFile2.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress2>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress2}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress2>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress2"></div>
                </div>
              <!-- </div> -->
            </div>
          </div>

          <!-- Match Poster Dropzone -->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Match Poster</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 3)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 ">
                <ngx-dropzone-label>Recommended dimensions (292 : 165)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile3" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile3, 3)" [file]="squareFile3">
                  <ngx-dropzone-label>{{ squareFile3.name }} ({{ squareFile3.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress3>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress3}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress3>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress3"></div>
                </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">TV Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 4)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                <ngx-dropzone-label>Recommended dimensions (1920 : 1080)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile4" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile4, 4)" [file]="squareFile4">
                  <ngx-dropzone-label>{{ squareFile4.name }} ({{ squareFile4.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress4>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress4}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress4>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress4"></div>
                </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Match Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 5)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                <ngx-dropzone-label>Recommended dimensions (230 : 308)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile5" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile5, 5)" [file]="squareFile5">
                  <ngx-dropzone-label>{{ squareFile5.name }} ({{ squareFile5.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-200 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress5>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress5}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress5>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress5"></div>
                </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Goal Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 6)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                <ngx-dropzone-label>Recommended dimensions (292 : 165)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile6" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile6, 6)" [file]="squareFile6">
                  <ngx-dropzone-label>{{ squareFile6.name }} ({{ squareFile6.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress6>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress6}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress6>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress6"></div>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Highlight Banner</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone (change)="onSelectSquare($event, 7)" [multiple]="false" accept="image/jpeg,image/jpg,image/png"
                            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                <ngx-dropzone-label>Recommended dimensions (292 : 165)</ngx-dropzone-label>
                <ngx-dropzone-image-preview *ngIf="squareFile7" ngProjectAs="ngx-dropzone-preview" [removable]="true"
                                            (removed)="onRemoveSquare(squareFile7, 7)" [file]="squareFile7">
                  <ngx-dropzone-label>{{ squareFile7.name }} ({{ squareFile7.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>

            <!-- <div class="col-lg-10 fv-row"> -->
              <div class="d-flex flex-column w-100 me-2">
                <div class="d-flex flex-stack mb-2" *ngIf="squareProgress7>0"><span class="text-muted me-2 fs-7 fw-bold">{{squareProgress7}}%</span></div>
                <div class="progress h-6px w-100" *ngIf="squareProgress7>0">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width.%]="squareProgress7"></div>
                </div>
              </div>
            <!-- </div> -->
          </div>
            <!-- Location -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6">Location</label>
                <div class="col-lg-8 fv-row">
                    <input
                            type="text"
                            class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                            placeholder="location"
                            name="location"
                            formControlName="location"
                    />
                    <div class="fv-plugins-message-container" *ngIf="matchForm.get('location')?.touched && matchForm.get('location')?.hasError('required')">
                        <div class="fv-help-block">This is a required field</div>
                    </div>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6">Ground Name</label>
                <div class="col-lg-8 fv-row">
                    <input
                            type="text"
                            class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                            placeholder="Ground Name"
                            name="ground_name"
                            formControlName="ground_name"
                    />
                    <div class="fv-plugins-message-container" *ngIf="matchForm.get('ground_name')?.touched
                                && matchForm.get('ground_name')?.hasError('required')">
                        <div class="fv-help-block">This is a required field</div>
                    </div>
                </div>
            </div>


          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Type</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="paid"
                formControlName="paid"
              >
                <option value="0">Free</option>
                <option value="1">Paid</option>
              </select>
             
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('paid')?.touched && matchForm.get('paid')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Sports</label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="sports"
                formControlName="sports_type"
                placeholder="Sport Type"

              >
              <option value="">Select Type</option>

                <option value="0">Football</option>
                <option value="1">Non Football</option>
              </select>
              
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('sports_type')?.touched && matchForm.get('sports_type')?.hasError('required')">
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>
          
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6 required"><span>Channel</span></label>
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="channel_id"
                formControlName="channel_id"
                required
              >
                <option value="">Select a Channel...</option>
                <option *ngFor="let channel of channels" [value]="channel.id">{{ channel.name }}</option>
              </select>
          
              <!-- Validation error message -->
              <div class="fv-plugins-message-container" *ngIf="matchForm.get('channel_id')?.touched && matchForm.get('channel_id')?.hasError('required')">
                <div class="fv-help-block">Channel is required</div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Preview Seconds</label>
            <div class="col-lg-8 fv-row">
                <input
                        type="text"
                        class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                        placeholder="Preview Seconds"
                        name="preview_seconds"
                        formControlName="preview_seconds"
                />
              
            </div>
        </div>
          <!-- Submit Button -->
          <div class="col-lg-8 fv-row">
            <button
              [disabled]="!matchForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              <ng-container *ngIf="!isLoading">Save Changes</ng-container>
              <ng-container *ngIf="isLoading">
            <span [style.display]="'block'" clas="indicator-progress">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
              </ng-container>
            </button>
          </div>
        </div>
      </div>
      <div id="add_group_footer" class="card-footer d-flex justify-content-end py-5 px-9"></div>
    </form>
  </div>
</div>
