<div
  id="add_subscription_request_drawer"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="add_subscription_request"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#add_subscription_request_toggle"
  data-kt-drawer-close="#add_subscription_request_close"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="add_subscription_request_header">
      <h3 class="card-title fw-bolder text-dark">Add Subscription Request</h3>

      <div class="card-toolbar">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="add_subscription_request_close"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="addForm" (ngSubmit)="onInsert(addForm.value)">
    <div class="card-body position-relative" id="add_subscription_request_body">
      <div
        id="kt_activities_scroll"
        class="position-relative scroll-y me-n5 pe-5"
        data-kt-scroll="true"
        data-kt-scroll-height="auto"
        data-kt-scroll-wrappers="#add_subscription_request_body"
        data-kt-scroll-dependencies="#add_subscription_request_header, #add_subscription_request_footer"
        data-kt-scroll-offset="5px"
      >
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
          >Select Student</label
          >
          <div class="col-lg-8 fv-row">
            <ng-select [items]="students$ | async"
                       name="student_id"
                       bindLabel="title"
                       bindValue="id"
                       typeToSearchText="Please enter 4 or more characters"
                       [minTermLength]="4"
                       [typeahead]="studentInput$"
                       [(ngModel)]="student_id"
                       formControlName="student_id"
            >
              <ng-template ng-label-tmp let-item="item">
                <span>{{item.first_name}} {{item.last_name}}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <span class="text-dark fs-6">{{item.first_name}} {{item.last_name}}</span>
                <span class="text-muted d-block " >{{item.email}}</span>
                <span class="text-muted d-block ">{{item.phone}}</span>
              </ng-template>

            </ng-select>
            <div class="fv-plugins-message-container" *ngIf="addForm.get('student_id')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Subscription Type</span></label
          >
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              formControlName="type"
              required
            >
              <option value="">Select a type</option>
              <option value="0">Platform Subscription</option>
              <option value="1">Course Subscription</option>

            </select>
            <div class="fv-plugins-message-container" *ngIf="addForm.get('type')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
              <br>
              <!-- <div class="fv-plugins-message-container">
                <div class="fv-help-block">Country is required</div>
              </div> -->
            </div>
          </div>
        </div>



          <div class="row mb-6" *ngIf="addForm.get('type')?.value!='' && addForm.get('type')?.value ==0">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Subscription Plan</span></label
            >
            <div class="col-lg-8 fv-row">
              <ng-select [items]="plans"
                         [searchable]="true"
                         placeholder="Select a plan"
                         name="plan"
                         bindLabel="name"
                         bindValue="id"
                         formControlName="plan"
              >
                <ng-template ng-label-tmp let-item="item">

                  <span *ngIf="item.name!=''">{{item.name}} ({{item.days}} days) {{getPrice(item.price)}}</span>

                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">

                  <span class="text-dark fs-6">{{item.name}}</span>
                  <span class="text-muted d-block " >{{item.days}} days - {{getPrice(item.price)}}</span>
                  <span class="text-muted d-block ">{{item.zone}}</span>
                </ng-template>

              </ng-select>


              <div class="fv-plugins-message-container" *ngIf="addForm.get('type')?.value ==0  && addForm.get('plan')?.hasError('required')">
                <div class="fv-help-block"> This is a required field</div>
              </div>

            </div>
          </div>

        <div class="row mb-6" *ngIf="addForm.get('type')?.value ==1">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
          >Select Course</label
          >
          <div class="col-lg-8 fv-row">
            <ng-select [items]="courses$ | async"
                       name="course_id"
                       bindLabel="name"
                       bindValue="id"
                       typeToSearchText="Please enter 4 or more characters"
                       [minTermLength]="4"
                       [typeahead]="courseInput$"
                       [(ngModel)]="course_id"
                       formControlName="course_id"
            >
            </ng-select>
            <div class="fv-plugins-message-container" *ngIf="addForm.get('course_id')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
            </div>
          </div>
        </div >


        <div class="row mb-6" *ngIf="addForm.get('type')?.value ==1">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Zone</span></label
          >
          <div class="col-lg-8 fv-row">
            <ng-select [items]="zones"
                       [searchable]="true"
                       placeholder="Select a zone"
                       name="zone"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="zone_id"
            >
            </ng-select>


            <div class="fv-plugins-message-container" *ngIf="addForm.get('type')?.value ==1  && addForm.get('zone_id')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
            </div>

          </div>
        </div>

        <div class="row mb-6" *ngIf="addForm.get('type')?.value ==1">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Duration</span></label
          >
          <div class="col-lg-8 fv-row">
            <ng-select [items]="durations"
                       [searchable]="true"
                       placeholder="Select a duration"
                       name="duration"
                       bindLabel="title"
                       bindValue="id"
                       formControlName="duration"
            >
              <ng-template ng-label-tmp let-item="item">

                <span>{{item.title}} ({{item.number_of_days}} days)</span>

              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">

                <span class="text-dark fs-6">{{item.title}} ({{item.number_of_days}} days)</span>

              </ng-template>

            </ng-select>


            <div class="fv-plugins-message-container" *ngIf="addForm.get('type')?.value ==1  && addForm.get('duration')?.hasError('required')">
              <div class="fv-help-block"> This is a required field</div>
            </div>

          </div>
        </div>

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label fw-bold fs-6"
              ></label
              >
              <div class="col-lg-8 fv-row">
              <button
                [disabled]="!addForm.valid"
                class="btn btn-primary"
                type="submit"
              >
                <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                <ng-container *ngIf="isLoading">
            <span [style.display]="'block'" clas="indicator-progress">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
                </ng-container>
              </button>
              </div>
            </div>
      </div>
    </div>
      <div id="add_subscription_request_footer" class="card-footer d-flex justify-content-end py-5 px-9">

      </div>
    </form>
  </div>
</div>
