<div
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-activate="true"
  data-kt-drawer-close="#open_subscription_request_close"
  data-kt-drawer-direction="end"
  data-kt-drawer-name="open_subscription_request"
  data-kt-drawer-overlay="true"
  data-kt-drawer-toggle="#open_subscription_request_toggle"
  data-kt-drawer-width="{default:'300px', 'lg': '900px'}"
  id="open_subscription_request_drawer"
>
  <div class="card shadow-none rounded-0 w-100">
    <div class="card-header" id="open_subscription_request_header">
      <h3 class="card-title fw-bolder text-dark">Open Subscription Request</h3>

      <div class="card-toolbar">
        <button
          class="btn btn-sm btn-icon btn-active-light-primary me-n5"
          id="open_subscription_request_close"
          type="button"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
            class="svg-icon svg-icon-1"
          ></span>
        </button>
      </div>
    </div>
    <form [formGroup]="addForm" (ngSubmit)="onUpdate(addForm.value)">
      <div class="card-body position-relative" id="open_subscription_request_body">
        <div
          class="position-relative scroll-y me-n5 pe-5"
          data-kt-scroll="true"
          data-kt-scroll-dependencies="#open_subscription_request_header, #open_subscription_request_footer"
          data-kt-scroll-height="auto"
          data-kt-scroll-offset="5px"
          data-kt-scroll-wrappers="#open_subscription_request_body"
          id="kt_activities_scroll"
        >
          <div class="row mb-6">
            <div class="table-responsive">
              <table *ngIf="currentRequest!=null"
                     class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
              >
                <thead>
                <tr class="fw-bolder text-muted">

                  <th class="min-w-300px">User Details</th>
                  <th class="min-w-100px">Request Details</th>

                </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody
                >
                <tr>
                  <td>
                     <span class="text-dark d-block fs-7" *ngIf="currentRequest.user_details.first_name!='' || currentRequest.user_details.last_name!=''">
                      {{currentRequest.user_details.first_name}}  {{currentRequest.user_details.last_name}}
                </span>
                    <span class="text-muted d-block fs-7">
                      {{currentRequest.user_details.email}}  / {{currentRequest.user_details.phone}}
                </span>

                  </td>
                  <td>
                    <div class="d-flex align-items-center mb-7" *ngIf="currentRequest.request_type==1">
                      <div class="flex-grow-1">
                        <span class="badge badge-light-primary fs-16">Course Subscription - {{currentRequest.course_name}}</span>
                        <span class="text-dark d-block ">{{currentRequest.zone_name}} {{currentRequest.duration_text}}
                          {{ showPrice(currentRequest.price) }}</span>
                      </div>
                    </div>
                    <div class="d-flex align-items-center mb-7" *ngIf="currentRequest.request_type==0">
                      <div class="flex-grow-1">
                        <span class="badge badge-light-success fs-16">Platform Subscription - {{currentRequest.plan_name}}</span>
                        <span class="text-dark d-block ">{{currentRequest.zone_name}} {{currentRequest.duration_text}}  {{showPrice(currentRequest.price)}}</span>
                      </div>
                    </div>

                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>




          <div class="row mb-6">
            <div class="col-lg-6">
              <input
                [value]="2"
                checked
                class="btn-check"
                formControlName="approve_request"
                id="approve_request_enabled"
                type="radio"
              />
              <label
                class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
          mb-10
        "
                for="approve_request_enabled"
              >
        <span
          [inlineSVG]="'./assets/media/icons/tutopia/normal_transcode.svg'"
          class="svg-icon svg-icon-3x me-5"
        ></span>
                <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
          >Approve Request</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            Choose this option if the student has paid the fees or otherwise approved for this subscription request
          </span>
        </span>
              </label>
            </div>

            <div class="col-lg-6">
              <input
                [value]="3"
                class="btn-check"
                formControlName="approve_request"
                id="approve_request_disabled"
                type="radio"
              />
              <label
                class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
        "
                for="approve_request_disabled"
              >
        <span
          [inlineSVG]="'./assets/media/icons/tutopia/shorts_transcode.svg'"
          class="svg-icon svg-icon-3x me-5"
        ></span>

                <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
          >Deny Request</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            Choose this option if the student's request to access this content is rejected for non payment or other reason.
          </span>
        </span>
              </label>
            </div>

            <div class="fv-plugins-message-container invalid-feedback">

            </div>
          </div>


          <div class="row mb-6"  *ngIf="addForm.get('approve_request')?.value==2">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            >Payment Method</label
            >
            <div class="col-lg-8 fv-row">
              <input
                class="form-control form-control-lg form-control-solid"
                formControlName="payment_method"
                name="payment_method"
                placeholder="How the payment was collected (cheque/cash/upi/netbanking etc)"
                type="text"

              />
            </div>
          </div>


          <div class="row mb-6" *ngIf="addForm.get('approve_request')?.value==2">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            >Payment Reference No.</label
            >
            <div class="col-lg-8 fv-row">
              <input
                class="form-control form-control-lg form-control-solid"
                formControlName="ref_number"
                name="ref_number"
                placeholder="Transaction Reference Number"
                type="text"

              />
            </div>
          </div>

          <div class="row mb-6" *ngIf="addForm.get('approve_request')?.value==2">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            >Payment Collected By</label
            >
            <div class="col-lg-8 fv-row">
              <input
                class="form-control form-control-lg form-control-solid"
                formControlName="collected_by"
                name="collected_by"
                placeholder="Name of person who collected payment"
                type="text"

              />
            </div>
          </div>

          <div class="row mb-6" *ngIf="addForm.get('approve_request')?.value==2">
            <label class="col-lg-4 col-form-label  fw-bold fs-6"
            >Collection Date</label
            >
            <div class="col-lg-8 fv-row">
              <div class="input-group">
                <button (click)="pickr.open()" class="btn btn-outline-secondary bi bi-calendar3"
                        type="button"></button>
                <input
                  #pickr="ngbDatepicker"
                  [dayTemplate]='t'
                  autocomplete="off"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="collection_date"
                  name="collection_date"
                  ngbDatepicker
                  placeholder="dd-mm-yyyy"
                  required
                  type="text"

                />
                <ng-template #t let-date>
                  {{ date.day }}
                </ng-template>

              </div>
              <div *ngIf="addForm.get('collection_date')?.hasError('required')" class="fv-plugins-message-container">
                <div class="fv-help-block"> This is a required field</div>
              </div>
            </div>
          </div>


          <div class="row mb-6">


            <label class="col-lg-4 col-form-label fw-bold fs-6">Additional Notes</label>
            <div class="col-lg-8 fv-row">
              <textarea
                class="form-control form-control-lg form-control-solid"
                formControlName="notes"
                name="notes"
                placeholder="Any notes about this request"
                rows="4"
              ></textarea>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
            ></label
            >
            <div class="col-lg-8 fv-row">
              <button
              [disabled]="!addForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              <ng-container *ngIf="!isLoading">Save Changes</ng-container>
              <ng-container *ngIf="isLoading">
          <span [style.display]="'block'" clas="indicator-progress">
            Please wait...{{ " " }}
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
              </ng-container>
            </button>
            </div>
          </div>


          <div class="row mb-6">
            <h3 class="card-title fw-bolder text-dark text-muted">User Request History</h3>
            <div class="separator"></div>
          </div>
          <div class="row mb-6">
            <div class="table-responsive">
              <div *ngIf="previousRequests.length==0" class="row mb-6">
                <label class="col-lg-8 col-form-label fw-bold fs-6"
                >No Previous Subscription Requests </label
                >
              </div>
              <table *ngIf="previousRequests.length>0"
                     class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
              >
                <!-- begin::Table head -->
                <thead>
                <tr class="fw-bolder text-muted">

                  <th class="min-w-300px">Request Details</th>
                  <th class="min-w-100px">Status</th>
                  <th class="min-w-100px">Price</th>
                  <th class="min-w-100px">Date</th>

                </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody
                >

                <tr *ngFor="let previousRequest of previousRequests"

                >

                  <td>
                    <div class="d-flex align-items-center">

                      <div class="d-flex justify-content-start flex-column">

                    <span class=" d-block fs-7">
                      {{previousRequest.narration}}
                </span>
                        <span class=" d-block fs-7">
                      Zone: {{previousRequest.zone_name}}
                </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">

                      <div class="d-flex justify-content-start flex-column">

                        <span *ngIf="previousRequest.status == 3 || previousRequest.status == 4" class="badge badge-light-danger">{{previousRequest.status_text}}</span>
                        <span *ngIf="previousRequest.status == 0" class="badge badge-light-primary">{{previousRequest.status_text}}</span>
                        <span *ngIf="previousRequest.status == 1" class="badge badge-light-warning">{{previousRequest.status_text}}</span>
                        <span *ngIf="previousRequest.status == 2" class="badge badge-light-success">{{previousRequest.status_text}}</span>
                        <span *ngIf="previousRequest.status >4" class="badge badge-light">{{previousRequest.status_text}}</span>

                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex align-items-center">

                      <div class="d-flex justify-content-start flex-column">

                    <span class=" d-block fs-7">
                      {{previousRequest.currency}}{{previousRequest.price}}
                </span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex align-items-center">

                      <div class="d-flex justify-content-start flex-column">

                    <span class=" d-block fs-7">
                      {{previousRequest.date}}
                </span>
                      </div>
                    </div>
                  </td>


                  <td>

                  </td>
                </tr>

                </tbody>
                <!-- end::Table body -->
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-5 px-9" id="open_subscription_request_footer">

      </div>
    </form>
  </div>
</div>
